* {
    transition: all 1s;
}

.allNews {
    display:flex;
    flex: 4;
    flex-wrap: wrap;
    justify-content: center;

}

a {
    color : white !important;
    margin: 10px;
}
a:focus {
    font-weight: 500px !important;
}

.card {
    width: 400px;
    margin: 10px 5px;
}

